<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Ingresar
            </div>
            <div class="card-body">
                <form (submit)="singIn()">

                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.usuario" name="usuario" class="form-control" placeholder="Usuario" required>
                    </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="user.contrasena" name="contraseña" class="form-control" placeholder="Contraseña" required>
                    </div>
                    <button class="btn btn-primary btn-block">
                        Ingreso
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>